body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.top-bar {
  height: 6%;

  display: flex;
  align-items: center;
}

.top-bar__grid {
  height: 100%;
}

.top-bar__grid-item {
  display: flex;
  justify-content: center;
}

.weather-display__card {
  width: 33%;
  height: 30%;

  background: #f8f8ff;

  display: flex;
  align-items: center;
  justify-content: center;
}
